.CardSubTitle {
  color: #999999;
  color: var(--color-text1-2, #999999);
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0;
}

.CardDes {
  margin-top: 6px;
  color: #999;
  color: var(--color-text1-2, #999);
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0;
}

.CardDes span {
  margin-left: 2px;
  color: #36cfc9;
  font-weight: bold;
}

.CardValue {
  margin-top: 10px;
  color: #333;
  font-weight: bold;
  font-weight: var(--font-weight-3, bold);
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 0;
}

.cardFoot {
  padding: 13px 16px;
  color: #666;
  font-size: 12px;
}
