@import '~@alifd/next/variables.scss';

.RegisterBlock {
    width: 100%;
    height: 100%;
    padding: 40px 0;
}

.innerBlock {
    width: 356px;
    margin: 0 auto;
}

.logo {
    height: 30px;
}

.desc {
    color: $color-text1-4;
    font-size: 24px;
}

.line {
    display: inline-block;
    width: 1px;
    height: 12px;
    background: $color-text1-2;
}

.innerBeforeInput {
    margin-left: 10px;
    color: $color-text1-2;
    .line {
        margin-left: 10px;
    }
}

.innerAfterInput {
    margin-right: 10px;
    color: $color-text1-2;
    .line {
        margin-right: 10px;
        vertical-align: middle;
    }
}

.sendCode {
    max-width: 65px;
    margin-right: 10px;
}

.otherLogin {
    color: #666;
    font-size: 14px;
}
.icon {
    margin-left: 10px;
}

.link {
    color: $color-link-1;
    font-size: 14px;
    text-align: left;
}

.submitBtn { 
    width: 100%;
}
