.footer {
  margin-left: -20px;
  width: 100%;
  height: 88px;
  line-height: 88px;
  bottom: 0;
  padding-left: 20px;
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 -1px 4px 0 rgba(58, 60, 75, 0.1);
}
