node_modules
.DS_Store
lerna-debug.log
npm-debug.log
.happypack
package-lock.json
yarn.lock
yarn-error.log
coverage/
.eslintcache
.tmp/
.ice/
.iceworks-tmp/

build
es
blocks/**/lib/
components/**/lib/
screenshot.png
index.module.scss.d.ts
tmp/
.faas_debug_tmp
.severless
blocks/**/*/style.d.ts
.history
