.container {

}

.actionBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.buttonGroup {
  :global {
    .next-btn {
      margin-right: 12px;
    }
  }
}

.rightButtonGroup {
  :global {
    .next-btn {
      margin-left: 12px;
    }
  }
}

.columnSortPanel {
  :global {
    background: #FFF;
    padding: 20px;
    border-radius: $corner-1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    max-height: 500px;
    overflow-y: scroll;
    width: 180px;

    .sort-item-container {
      width: 100%;
    }

    .sort-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 11px;

      .next-checkbox-wrapper.sort-checkbox {
        white-space: nowrap;
        max-width: calc(100% - 16px - 20px);

        .next-checkbox-label {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .column-handle {
        display: block;
        visibility: hidden;
        margin-left: 20px;
      }

      &:hover {
        .column-handle {
          visibility: initial;
          cursor: move;
        }
      }
    }

    .sort-item-children {
      margin-left: 18px;
    }
  }
}