.tableWrapper {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: -1px 0px 4px 0px rgba(75, 89, 128, 0.1);
  margin-bottom: 20px;
}

.pagination {
  margin-top: 20px;
  text-align: right;
}
