.header-aside-layout {
  width: 100%;

  .body {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 44px);

    .aside {
      width: 260px;
      padding-top: 10px;
      a {
        color: #fff;
        &:active {
          text-decoration: none;
        }
      }
    }
    .main {
      transition: padding-left 0.5s;
      width: 100%;
      background-color: $color-fill1-2;
      overflow-y: scroll;
    }
  }
}
