<<<<<<< HEAD
/* // @import "~@alifd/next/variables.scss"; */

=======
>>>>>>> 027579a511d7f3a2137d93d582bf6f20b50ee6ad
.cardList {
  margin-top: 20px;
  margin-top: var(--shell-dark-content-paddingTop, 20px);
  margin-right: 20px;
  margin-right: var(--shell-dark-content-paddingLeft, 20px);
  margin-bottom: 20px;
  margin-bottom: var(--shell-dark-content-paddingTop, 20px);
  margin-left: 20px;
  margin-left: var(--shell-dark-content-paddingLeft, 20px);
}

<<<<<<< HEAD
=======

>>>>>>> 027579a511d7f3a2137d93d582bf6f20b50ee6ad
.tagBox {
  padding: 0 20px 32px;
  padding: 0 var(--shell-dark-content-paddingLeft) var(--s-8);
}

<<<<<<< HEAD
=======

>>>>>>> 027579a511d7f3a2137d93d582bf6f20b50ee6ad
.tagBoxItem {
  display: flex;
  align-items: center;
}

.tagTitleName {
  width: 56px;
  margin-right: 12px;
  margin-bottom: 8px;
  color: #333;
  font-size: 14px;
  text-align: right;
}


<<<<<<< HEAD
=======

>>>>>>> 027579a511d7f3a2137d93d582bf6f20b50ee6ad
.listItem .listMain {
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
}

<<<<<<< HEAD
=======

>>>>>>> 027579a511d7f3a2137d93d582bf6f20b50ee6ad
.listItem img {
  width: 100%;
}

.listItem .listContent {
  padding: 14px;
}

.listItem .listTitle {
  color: #333;
  font-size: 14px;
}

.listItem .listInfo {
  margin-top: 13px;
  color: #999;
  font-size: 12px;
  line-height: 20px;
}

.listItem .listLink {
  margin-top: 13px;
}

.listItem .listLink a {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}

.listItem .listAdd {
  height: 100%;
  overflow: hidden;
  background: #fff;
  border: 1px dashed #eee;
  border-radius: 5px;

}

.listItem .listAdd .listIcon {
  color: #999;
}

.listItem .addText {
  margin-top: 20px;
  color: #999;
  font-size: 12px;
  text-align: center;
}