.page {
  background-color: #ffffff;
}

.whale-page-title {
  font-size: 24px;
  font-weight: normal;
  line-height: 64px;
  height: 64px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-left: 20px;
  color: #4a5b6d;
  box-shadow: 0px 2px 12px 0px rgba(75, 89, 128, 0.1);
}
