
.dataRow {
  margin: 20px 0;
}

.total {
  margin-right: 40px;
  color: #666;
  font-size: 14px;
  font-family: PingFang-SC-Regular;
  line-height: 20px;
  letter-spacing: 0;
}

.num {
  color: #333;
  font-size: 24px;
  font-family: Roboto-Bold;
  line-height: 20px;
  letter-spacing: 0;
}

.map {
  display: flex;
  justify-content: center;
}
