.primary-event {
  color: white;
  background: $color-error-4;
  border-radius: 3px;
  padding-left: 10px;
  margin-bottom: 3px;
}

.normal-event {
  color: white;
  background: $color-notice-4;
  border-radius: 3px;
  padding-left: 10px;
  margin-bottom: 3px;
}
