.form-title {
  font-size: 24px;
  font-weight: normal;
  line-height: 64px;
  height: 64px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-left: 20px;
  color: #4a5b6d;
}

.h-title {
  outline: none;
}
