.basicList {
  margin-top: calc(0px - var(--shell-dark-content-paddingTop, 20px));
  margin-right: calc(0px - var(--shell-dark-content-paddingLeft, 20px));
  margin-bottom: var(--shell-dark-content-paddingTop, 20px);
  margin-left: calc(0px - var(--shell-dark-content-paddingLeft, 20px));
}

.basicList .totalPagin {
  color: #4a5b6d;
  font-size: 12px;
}

.basicList .totalPagin span {
  padding: 0 3px;
  color: #5584ff;
}


.basicList .tagBox {
  padding: 0 var(--shell-dark-content-paddingLeft, 20px) var(--s-8, 32px);
}


.basicList .tagBox .tagBoxItem {
  display: flex;
  align-items: center;
}


.basicList .tagTitleName {
  width: 56px;
  margin-right: 12px;
  margin-bottom: 8px;
  color: #333;
  font-size: 14px;
  text-align: right;
}


.basicList .mainList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background: #f5f5f5;
}

.basicList .mainContent {
  padding: 40px 24px;
  background: #fff;
}


.basicList .listItem {
  box-sizing: border-box;
}

.basicList .listItem .cardMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.basicList .listItem .cardLeft {
  display: flex;
  align-items: center;
}

.basicList .listItem .cardRight {
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

.basicList .listItem .cardRight button {
  margin-right: 5px;
}

.basicList .listItem img {
  width: 160px;
  margin-right: 20px;
}


.basicList .listItem .cardTitle {
  color: #000;
  font-size: 16px;
}

.basicList .listItem .cardContent {
  margin: 12px 0;
  color: #999;
  font-size: 12px;
}

.basicList .listItem .subContent {
  color: #999;
  font-size: 12px;
}

.basicList .listItem .addContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px 0;
  overflow: hidden;
  background: #fff;
  border: 1px dashed #eee;
  border-radius: 5px;

}

.basicList .listItem .addContent .addContentIcon {
  color: #999;
}

.basicList .listItem .addText {
  margin-left: 5px;
  color: #999;
  font-size: 12px;
  text-align: center;
}