.oprations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  & button {
    margin-right: 20px;
  }
}
.leftOp {
}

.rightOp {
}

.tag {
  margin-left: 20px;
}
