.box {
  height: 188px;
  background: #fff;
  border-radius: 5px;
}

.box .content {
  height: 91px;
}

.box .content .value {
  color: #333;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
}

.box .content .name {
  color: #999;
  font-size: 12px;
}

.box .content .des {
  color: #999;
  font-size: 12px;
}

.box .content .des .rise {
  color: #d23c26;
}

.box .content .des .fall {
  color: #36cfc9;
}