.dialogTable :global .table-empty-block {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.dialogTable :global .table-empty-block .result-image {
  height: 120px;
}

.dialogTable :global .table-empty-block .result-image img {
  height: 100%;
}

.dialogTable :global .table-empty-block .result-title {
  font-size: 12px;
  line-height: 1.5;
  color: #bcc4cc;
}