
.basicList {
  margin-top: 20px;
  margin-top: var(--shell-dark-content-paddingTop, 20px);
  margin-right: 20px;
  margin-right: var(--shell-dark-content-paddingLeft, 20px);
  margin-bottom: 20px;
  margin-bottom: var(--shell-dark-content-paddingTop, 20px);
  margin-left: 20px;
  margin-left: var(--shell-dark-content-paddingLeft, 20px);
}

.totalPagin {
  color: #4a5b6d;
  font-size: 12px;
}

.totalPagin span {
  padding: 0 3px;
  color: #5584ff;
}


.tagBox {
  padding: 0 20px 32px;
  padding: 0 var(--shell-dark-content-paddingLeft) var(--s-8);
}


.tagBoxItem {
  display: flex;
  align-items: center;
}


.tagTitleName {
  width: 56px;
  margin-right: 12px;
  margin-bottom: 8px;
  color: #333;
  font-size: 14px;
  text-align: right;
}


.mainList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background: #f5f5f5;
}

.mainContent {
  padding: 40px 24px;
  background: #fff;
}


.listItem {
  box-sizing: border-box;
}


.listItem .cardMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.listItem .cardLeft {
  display: flex;
  align-items: center;
}

.listItem .cardRight {
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
}


.listItem .cardRight button {
  margin-right: 5px;
}

.listItem img {
  width: 160px;
  margin-right: 20px;
}

.listItem .cardTitle {
  color: #000;
  font-size: 16px;
}


.listItem .cardContent {
  margin: 12px 0;
  color: #999;
  font-size: 12px;
}

.listItem .subContent {
  color: #999;
  font-size: 12px;
}


.listItem .addContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px 0;
  overflow: hidden;
  background: #fff;
  border: 1px dashed #eee;
  border-radius: 5px;

}


.listItem .addContent .addContentIcon {
  color: #999;
}

.listItem .addText {
  margin-left: 5px;
  color: #999;
  font-size: 12px;
  text-align: center;
}