.header-aside-footer-layout {
  width: 100%;
  .body {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 44px);

    .aside {
      width: 260px;
      padding-top: 10px;
    }

    .main {
      // padding-left: 65px;
      transition: padding-left 0.5s;
      width: 100%;
      // margin-top: 80px;
      overflow-y: scroll;
      &.right-content-full {
        padding-left: 185px;
      }
    }
  }
}
