.SuccessDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 428px;

  & > div {
    text-align: center;
  }

  .exceptionImage{
    margin-bottom: 22px;
  }

  .statuscode{
    margin-bottom: 6px;
    color: #000;
    font-size: 28px;
    line-height: 52px;
    text-align: center;
  }
  .description{
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
  }

  .operationWrap{
    text-align: center;
  }

  .mainAction{
    margin-right: 8px;
  }
}
