.side-menu {
  display: flex;

  &-aside {
    width: 200px;
    height: 100%;
    overflow-y: scroll;
    background: $nav-secondary-bg-color;
  }
  &-main {
    flex: 1;
    overflow-y: scroll;
  }
}
